
/* Your CSS Code here. */
.holder{
	display:flex;
	flex-wrap:wrap;
	justify-contnet:space-between;
	
}
.item{
	flex:0 1 auto;
	margin:10px;
	padding:10px;
	justify-content:space-between;
	background-color:red;
	height:100px;
	width:100px;
}