
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:space-between;
	font-size:20px;
	flex-wrap:wrap;
	
	
}
.item3{
	background-color:yellow;
	height:100px;
	width:100px;
}
.item1{

	background-color:red;
	height:100px;
	width:100px;
}
.item2{
	background-color:blue;
	height:100px;
	width:100px;
}